import init.mt6735.usb.rc
import init.modem.rc

on late-fs
    # Boot fs tune
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/nr_requests 256

on early-boot
    # NOTE: early-boot is AFTER even post-fs-data!
    # damn this is so easily overlooked

on early-init
    mount debugfs /sys/kernel/debug /sys/kernel/debug mode=755
    restorecon /sys/class/meizu/ps/ps_calibration

    # Turn off backlight on blank
    write /sys/class/leds/lcd-backlight/trigger "backlight"

on init
    export LD_SHIM_LIBS "/vendor/lib/libmedia.so|libshim_snd.so:/vendor/lib64/libmedia.so|libshim_snd.so:/vendor/lib/liblog.so|libshim_xlog.so:/vendor/lib64/liblog.so|libshim_xlog.so:/vendor/lib/libui.so|libshim_ui.so:/vendor/lib64/libui.so|libshim_ui.so:/vendor/lib/libgui.so|libshim_gui.so:/vendor/lib64/libgui.so|libshim_gui.so"

    # Mount points
    mkdir /protect_f 0771 vendor vendor
    mkdir /protect_s 0771 vendor vendor
    mkdir /persist 0771 vendor vendor
    mkdir /nvdata 0771 vendor vendor

    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root

    # ION device
    chmod 0666 /dev/ion

    # Change lk_env permission
    chown root vendor /proc/lk_env
    chmod 0660 /proc/lk_env

    chown root vendor /dev/kmsg
    chmod 0660 /dev/kmsg

on fs
    mount_all /fstab.mt6735

on post-fs
    symlink /sdcard /storage/sdcard0

    write /sys/block/zram0/comp_algorithm lz4
    write /proc/sys/vm/page-cluster 0

    # Change owner
    chown root vendor /proc/mtprof/cputime
    chown root vendor /proc/mtprof/reboot_pid

    chown vendor vendor /protect_f
    chmod 0770 /protect_f

    chown vendor vendor /protect_s
    chmod 0770 /protect_s

    mkdir /protect_s/properties 0770 vendor vendor

    mkdir /nvdata/APCFG 0770 vendor camera
    mkdir /nvdata/APCFG/APRDCL 0770 vendor camera
    mkdir /nvdata/APCFG/APRDEB 0770 vendor camera
    mkdir /nvdata/md 0770 vendor radio
    mkdir /nvdata/md_cmn 0770 vendor radio
    mkdir /nvdata/media 0770 media audio
    restorecon_recursive /nvdata

    # Workaround for old nvram blobs
    mkdir /dev/block/platform/mtk-msdc.0/by-name 0755 root vendor
    symlink /dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/nvram /dev/block/platform/mtk-msdc.0/by-name/nvram
    symlink /dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/proinfo /dev/block/platform/mtk-msdc.0/by-name/proinfo

    # Wifi
    mknod /dev/wmtWifi c 153 0
    chmod 0660 /dev/wmtWifi
    chown vendor vendor /dev/wmtWifi

    # BT
    mknod /dev/stpbt c 192 0
    chmod 0660 /dev/stpbt
    chown radio bluetooth /dev/stpbt

    mknod /dev/stpwmt c 190 0
    chmod 0660 /dev/stpwmt
    chown vendor vendor /dev/stpwmt

    mknod /dev/stpgps c 191 0
    chmod 0660 /dev/wmtdetect
    chown vendor vendor /dev/wmtdetect

    restorecon /dev/wmtWifi
    restorecon /dev/stpwmt
    restorecon /dev/stpbt
    restorecon /dev/stpgps

    # GPS
    chmod 0660 /dev/gps
    chown vendor gps /dev/gps

    chmod 0660 /dev/stpgps
    chown gps gps /dev/stpgps

on post-fs-data
    # We chown/chmod /nvdata again so because mount is run as root + defaults
    chown root vendor /nvdata
    chmod 0771 /nvdata
    rm /data/nvram
    symlink /nvdata /data/nvram
    mkdir /nvdata/media 0771 media audio

    # Set SELinux security contexts on upgrade or policy update.
    restorecon_recursive /nvdata

    # Give vendor access to rfkill device node
    chmod 0660 /dev/rfkill

    # Create for muxd pts device node to operate without root
    mkdir /dev/radio 0770 radio radio

    # GPS
    mkdir /data/gps_mnl 0771 gps vendor
    mkdir /data/misc/gps 0770 gps gps
    chown gps gps /sys/class/gpsdrv/gps/pwrctl
    chown gps gps /sys/class/gpsdrv/gps/suspend
    chown gps gps /sys/class/gpsdrv/gps/state
    chown gps gps /sys/class/gpsdrv/gps/pwrsave
    chown gps gps /sys/class/gpsdrv/gps/status

    # Mali Graphics
    chmod 666 /dev/mali0

    # Watch dog kicker
    write /proc/wdk "0 20 30"

    # Set ptmx group to non-root
    chown root radio /dev/ptmx

    # RTC
    mkdir /data/misc/rtc 0770 vendor vendor

    # Set mlock limit to infinate (for m4u operation)
    setrlimit 8 -1 -1

    # CMDQ
    chmod 0640 /dev/mtk_cmdq
    chown vendor vendor /dev/mtk_cmdq

    # OFFLOAD SERVICE
    chmod 0640 /dev/offloadservice
    chown media media /dev/offloadservice

    # Sensors
    chmod 0660 /dev/hwmsensor
    chmod 0660 /dev/msensor
    chmod 0660 /dev/gsensor
    chmod 0660 /dev/als_ps
    chmod 0660 /dev/aal_als

    chown vendor vendor /dev/hwmsensor
    chown vendor vendor /dev/msensor
    chown vendor vendor /dev/gsensor
    chown radio vendor /dev/als_ps
    chown vendor vendor /dev/aal_als

    chmod 0660 /sys/class/misc/m_acc_misc/accenablenodata
    chmod 0660 /sys/class/misc/m_acc_misc/accactive
    chmod 0660 /sys/class/misc/m_acc_misc/accdelay
    chmod 0660 /sys/class/misc/m_acc_misc/accbatch
    chmod 0660 /sys/class/misc/m_acc_misc/accflush
    chown vendor vendor /sys/class/misc/m_acc_misc/accenablenodata
    chown vendor vendor /sys/class/misc/m_acc_misc/accactive
    chown vendor vendor /sys/class/misc/m_acc_misc/accdelay
    chown vendor vendor /sys/class/misc/m_acc_misc/accbatch
    chown vendor vendor /sys/class/misc/m_acc_misc/accflush

# ltr559
    chmod 0660 /sys/bus/i2c/devices/2-0023/als_data
    chown vendor vendor /sys/bus/i2c/devices/2-0023/als_data

    chmod 0660 /sys/bus/i2c/devices/2-0023/als_enable
    chown vendor vendor /sys/bus/i2c/devices/2-0023/als_enable

    chmod 0660 /sys/bus/i2c/devices/2-0023/ps_data
    chown vendor vendor /sys/bus/i2c/devices/2-0023/ps_data

    chmod 0660 /sys/bus/i2c/devices/2-0023/ps_enable
    chown vendor vendor /sys/bus/i2c/devices/2-0023/ps_enable

    chmod 0660 /sys/bus/i2c/devices/2-0023/ps_interrupt
    chown vendor vendor /sys/bus/i2c/devices/2-0023/ps_interrupt

    chmod 0660 /sys/bus/i2c/devices/2-0023/ps_offset
    chown vendor vendor /sys/bus/i2c/devices/2-0023/ps_offset

    chmod 0660 /sys/bus/i2c/devices/2-0023/reg
    chown vendor vendor /sys/bus/i2c/devices/2-0023/reg

    chmod 660            /sys/bus/i2c/devices/2-0023/self_test
    chown vendor vendor  /sys/bus/i2c/devices/2-0023/self_test

# sensor st480 and ak09911
    chmod 660            /sys/bus/i2c/devices/2-000c/self_test
    chown vendor vendor  /sys/bus/i2c/devices/2-000c/self_test

# lsm6ds3
    chown vendor vendor /dev/iio\:device0
    chmod 0666 /dev/iio\:device0
    chown vendor vendor /dev/iio\:device1
    chmod 0666 /dev/iio\:device1
    chown vendor vendor /dev/iio\:device2
    chmod 0666 /dev/iio\:device2
    chown vendor vendor /dev/iio\:device3
    chmod 0666 /dev/iio\:device3
    chown vendor vendor /dev/iio\:device4
    chmod 0666 /dev/iio\:device4
    chown vendor vendor /dev/iio\:device5
    chmod 0666 /dev/iio\:device5
    chown vendor vendor /dev/iio\:device6
    chmod 0666 /dev/iio\:device6
    chown vendor vendor /dev/iio\:device7
    chmod 0666 /dev/iio\:device7
    chown vendor vendor /dev/iio\:device8
    chmod 0666 /dev/iio\:device8
    chown vendor vendor /dev/iio\:device9
    chmod 0666 /dev/iio\:device9

    #camera flashlight sysfs
    chmod 0644 /sys/class/flashlightdrv/kd_camera_flashlight/flash1
    chmod 0644 /sys/class/flashlightdrv/kd_camera_flashlight/flash2
    chown media vendor /sys/class/flashlightdrv/kd_camera_flashlight/flash1
    chown media vendor /sys/class/flashlightdrv/kd_camera_flashlight/flash2

    chmod 0660 /sys/class/misc/m_mag_misc/magactive
    chmod 0660 /sys/class/misc/m_mag_misc/magdelay
    chmod 0660 /sys/class/misc/m_mag_misc/magbatch
    chmod 0660 /sys/class/misc/m_mag_misc/magflush
    chmod 0660 /sys/class/misc/m_mag_misc/magoactive
    chmod 0660 /sys/class/misc/m_mag_misc/magodelay
    chmod 0660 /sys/class/misc/m_mag_misc/magobatch
    chmod 0660 /sys/class/misc/m_mag_misc/magoflush
    chown vendor vendor /sys/class/misc/m_mag_misc/magactive
    chown vendor vendor /sys/class/misc/m_mag_misc/magdelay
    chown vendor vendor /sys/class/misc/m_mag_misc/magbatch
    chown vendor vendor /sys/class/misc/m_mag_misc/magflush
    chown vendor vendor /sys/class/misc/m_mag_misc/magoactive
    chown vendor vendor /sys/class/misc/m_mag_misc/magodelay
    chown vendor vendor /sys/class/misc/m_mag_misc/magobatch
    chown vendor vendor /sys/class/misc/m_mag_misc/magoflush
    chmod 0660 /sys/class/misc/m_batch_misc/batchactive
    chmod 0660 /sys/class/misc/m_batch_misc/batchdelay
    chmod 0660 /sys/class/misc/m_batch_misc/batchbatch
    chmod 0660 /sys/class/misc/m_batch_misc/batchflush
    chown vendor vendor /sys/class/misc/m_batch_misc/batchactive
    chown vendor vendor /sys/class/misc/m_batch_misc/batchdelay
    chown vendor vendor /sys/class/misc/m_batch_misc/batchbatch
    chown vendor vendor /sys/class/misc/m_batch_misc/batchflush

    chmod 0660 /sys/class/misc/m_alsps_misc/psactive
    chmod 0660 /sys/class/misc/m_alsps_misc/psdelay
    chmod 0660 /sys/class/misc/m_alsps_misc/psbatch
    chmod 0660 /sys/class/misc/m_alsps_misc/psflush
    chown vendor vendor /sys/class/misc/m_alsps_misc/alsactive
    chown vendor vendor /sys/class/misc/m_alsps_misc/alsdelay
    chown vendor vendor /sys/class/misc/m_alsps_misc/alsbatch
    chown vendor vendor /sys/class/misc/m_alsps_misc/alsflush
    chown vendor vendor /sys/class/misc/m_alsps_misc/psactive
    chown vendor vendor /sys/class/misc/m_alsps_misc/psdelay
    chown vendor vendor /sys/class/misc/m_alsps_misc/psbatch
    chown vendor vendor /sys/class/misc/m_alsps_misc/psflush
    # Meizu sensor interfaces
    chown vendor vendor /sys/class/meizu/acc/acc_calibration
    chown vendor vendor /sys/class/meizu/acc/acc_enable
    chown vendor vendor /sys/class/meizu/acc/acc_self_test
    chown vendor vendor /sys/class/meizu/acc/acc_x_calibbias
    chown vendor vendor /sys/class/meizu/acc/acc_y_calibbias
    chown vendor vendor /sys/class/meizu/acc/acc_z_calibbias
    chown vendor vendor /sys/class/meizu/acc/acc_x_offset
    chown vendor vendor /sys/class/meizu/acc/acc_y_offset
    chown vendor vendor /sys/class/meizu/acc/acc_z_offset
    chown vendor vendor /sys/class/meizu/acc/acc_id
    chown vendor vendor /sys/class/meizu/acc/acc_name

    chown vendor vendor /sys/class/meizu/gyr/gyr_enable
    chown vendor vendor /sys/class/meizu/gyr/gyr_self_test
    chown vendor vendor /sys/class/meizu/gyr/gyr_id
    chown vendor vendor /sys/class/meizu/gyr/gyr_name

    chown vendor vendor /sys/class/meizu/ps/ps_enable
    chown vendor vendor /sys/class/meizu/ps/ps_data
    chown vendor vendor /sys/class/meizu/ps/ps_calibration
    chown vendor vendor /sys/class/meizu/ps/ps_calibbias
    chown vendor vendor /sys/class/meizu/ps/ps_offset
    chown vendor vendor /sys/class/meizu/ps/ps_id
    chown vendor vendor /sys/class/meizu/ps/ps_name
    chown vendor vendor /sys/class/meizu/ps/ps_irq_gpio

    chown vendor vendor /sys/class/meizu/als/als_enable
    chown vendor vendor /sys/class/meizu/als/als_data
    chown vendor vendor /sys/class/meizu/als/als_id
    chown vendor vendor /sys/class/meizu/als/als_name

    chown vendor vendor /sys/class/meizu/compass/compass_enable
    chown vendor vendor /sys/class/meizu/compass/compass_self_test
    chown vendor vendor /sys/class/meizu/compass/compass_id
    chown vendor vendor /sys/class/meizu/compass/compass_name

    # Add by Meizu BSP@YinShunQing for HALL
    chown vendor vendor /sys/devices/platform/gpio-keys.0/key_hall_state
    chmod 0440 /sys/devices/platform/gpio-keys.0/key_hall_state

    # Add by WuWeilin@BSP for power mode permission 
    chown vendor vendor /sys/power/power_mode

    # Meizu Holster
    chown vendor vendor /sys/devices/mx_tsp/hall_mode
    chmod 0660 /sys/devices/mx_tsp/hall_mode

    # Meizu Gesture
    chown vendor vendor /sys/devices/platform/mx-gs/gesture_control
    chmod 0660 /sys/devices/platform/mx-gs/gesture_control
    chown vendor vendor /sys/devices/platform/mx-gs/gesture_data
    chmod 0660 /sys/devices/platform/mx-gs/gesture_data

    # Meizu notification leds
    chmod 0660 /sys/class/leds/button-backlight/trigger
    chmod 0660 /sys/class/leds/button-backlight/oneshot_blink
    chmod 0660 /sys/class/leds/button-backlight/delay_on
    chmod 0660 /sys/class/leds/button-backlight/delay_off
    chmod 0660 /sys/class/leds/button-backlight/brightness

    #duanzhanyang@wind-mobi.com 20150620
    chown vendor vendor /sys/devices/mx_leds/leds_mode

    # Accdet
    chown root radio /sys/devices/platform/Accdet_Driver/driver/accdet_call_state

    # VideoCodec
    mknod /dev/Vcodec c 160 0
    chmod 0660 /dev/Vcodec
    chown media camera /dev/Vcodec

    # MJC
    chmod 0660 /dev/MJC
    chown vendor media /dev/MJC

    # PMIC property
    chown radio vendor /sys/devices/platform/mt-pmic/low_battery_protect_stop
    chown radio vendor /sys/devices/platform/mt-pmic/low_battery_protect_ut

    mkdir /data/misc/sensor 0774 vendor vendor
    mkdir /data/misc/akmd 0770 vendor vendor

    # Display
    chmod 0660 /dev/graphics/fb0
    chown vendor graphics /dev/graphics/fb0

    chmod 0660 /dev/mtk_disp_mgr
    chown vendor graphics /dev/mtk_disp_mgr

    chmod 0660 /sys/devices/platform/mtk_disp_mgr.0/rgb
    chown vendor vendor /sys/devices/platform/mtk_disp_mgr.0/rgb

    chmod 0660 /dev/sw_sync
    chown vendor graphics /dev/sw_sync

    # PMU
    chown root radio /sys/devices/platform/mt-pmic/pmic_access
    chmod 0664 /sys/devices/platform/mt-pmic/pmic_access

    # Device info /proc interface
    mknod /dev/devmap c 196 0
    chmod 0440 /dev/devmap
    chown vendor camera /dev/devmap

    # BT relayer mode used VCOM
    chown bluetooth radio /dev/ttyGS2
    chmod 0660 /dev/ttyGS2

    # Use uinput's default permission
    chown vendor net_bt_admin /dev/uinput

    # UIBC
    chown vendor media /dev/uibc
    chmod 0660 /dev/uibc

    # Camera
    chmod 0660 /dev/camera-isp
    chmod 0660 /dev/camera-fdvt
    chmod 0660 /dev/kd_camera_hw
    chmod 0660 /dev/kd_camera_flashlight
    chmod 0660 /dev/BU64245
    chmod 0660 /dev/CAM_CAL_DRV
    chmod 0660 /dev/CAM_CAL_DRV_SUB

    chown vendor camera /dev/camera-isp
    chown vendor camera /dev/camera-fdvt
    chown vendor camera /dev/kd_camera_hw
    chown vendor camera /dev/kd_camera_flashlight
    chown vendor camera /dev/BU64245
    chown vendor camera /dev/CAM_CAL_DRV
    chown vendor camera /dev/CAM_CAL_DRV_SUB

    # SMI
    chmod 0660 /dev/MTK_SMI
    chown vendor camera /dev/MTK_SMI

    chown vendor camera /sys/bus/platform/drivers/mem_bw_ctrl/concurrency_scenario
    chmod 0660 /sys/bus/platform/drivers/mem_bw_ctrl/concurrency_scenario

    # Change partition permission
    chmod 0640 /mtd@sec_ro
    chown root vendor /mtd@sec_ro

    chmod 0640 /mtd@preloader
    chown root vendor /mtd@preloader

    chmod 0640 /mtd@pro_info
    chown root vendor /mtd@pro_info

    chmod 0640 /mtd@bootimg
    chown root vendor /mtd@bootimg

    chmod 0640 /mtd@recovery
    chown root vendor /mtd@recovery

    chmod 0660 /mtd@nvram
    chown root vendor /mtd@nvram

    chmod 0660 /mtd@seccfg
    chown root vendor /mtd@seccfg

    chmod 0660 /mtd@misc
    chown root vendor /mtd@misc

    # MTK_SCHED
    chmod 0660 /dev/mtk_sched
    chown vendor media /dev/mtk_sched

    # EBC
    chmod 0660 /dev/ebc
    chown vendor media /dev/ebc

    # Autok
    chown root vendor /sys/autok/debug
    chown root vendor /sys/autok/param_count
    chown root vendor /sys/autok/ready
    chown root vendor /sys/autok/ss_corner
    chown root vendor /sys/autok/suggest_vol
    chown root vendor /sys/autok/stage1/2/DONE
    chown root vendor /sys/autok/stage1/2/PARAMS
    chown root vendor /sys/autok/stage1/2/VOLTAGE
    chown root vendor /sys/autok/stage1/2/LOG
    chown root vendor /sys/autok/stage2/2

    # Serial
    chmod 0664 /sys/class/android_usb/android0/iSerial
    chown root vendor /sys/class/android_usb/android0/iSerial
    chmod 0664 /sys/devices/platform/mt_usb/cmode
    chown root vendor /sys/devices/platform/mt_usb/cmode

    # AGPS
    mkdir /data/agps_supl 0771 gps vendor
    restorecon_recursive /data/misc/gps

    # Thermal
    mkdir /data/.tp/ 0775 vendor vendor

    chmod 0660 /dev/ttyC2
    chown vendor gps /dev/ttyC2

    # Add by MEIZU BSP
    setprop ro.product.mobile.name m81

    chown vendor vendor /sys/devices/vendor/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0660 /sys/devices/vendor/cpu/cpu0/cpufreq/scaling_max_freq
    chown vendor vendor /sys/devices/vendor/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0660 /sys/devices/vendor/cpu/cpu0/cpufreq/scaling_min_freq
    chown vendor vendor /sys/devices/vendor/cpu/cpu0/cpufreq/scaling_governor
    chmod 0660 /sys/devices/vendor/cpu/cpu0/cpufreq/scaling_governor

on boot
    # default is root radio 0440
    chmod 0644 /proc/cmdline

    # make use of the 8 cores
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/top-app/boost/cpus 0-3
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-3
    write /dev/cpuset/background/cpus 4-7
    write /dev/cpuset/vendor-background/cpus 4-7

    write /proc/sys/vm/dirty_writeback_centisecs 300
    chmod 0660 /sys/power/autosleep

    chown root   vendor /sys/kernel/debug/binder/transaction_log_enable
    chown root   vendor /sys/kernel/debug/binder/perf_evalue

    chown vendor /sys/module/mlog/parameters/do_mlog
    chown vendor /sys/module/mlog/parameters/timer_intval

    chmod 0664 /sys/class/leds/lcd-backlight/brightness

    chown root   radio  /sys/class/leds/lcd-backlight/duty
    chown root   radio  /sys/class/leds/lcd-backlight/div
    chown vendor vendor /sys/class/leds/lcd-backlight/trigger
    chown vendor vendor /sys/class/leds/button-backlight/trigger
    # Add by Meizu BSP@YinShunQing
    chown vendor vendor /sys/class/leds/button-backlight/oneshot_blink
    chown vendor vendor /sys/class/leds/button-backlight/delay_on
    chown vendor vendor /sys/class/leds/button-backlight/delay_off

    # Permission for hibernation
    chown radio vendor /sys/power/tuxonice
    chown radio vendor /sys/power/tuxonice/do_hibernate
    chmod 0770 /sys/power/tuxonice
    chmod 0220 /sys/power/tuxonice/do_hibernate

    # HMP CPU hotplug strategy
    chown vendor vendor /sys/devices/vendor/cpu/cpufreq/hotplug/cpu_num_base
    chmod 0660 /sys/devices/vendor/cpu/cpufreq/hotplug/cpu_num_base
    chown vendor vendor /proc/hps/num_base_perf_serv
    chmod 0660 /proc/hps/num_base_perf_serv
    chown vendor vendor /proc/hps/num_limit_power_serv
    chmod 0660 /proc/hps/num_limit_power_serv
    chown vendor vendor /proc/hps/num_limit_ultra_power_saving
    chmod 0660 /proc/hps/num_limit_ultra_power_saving
    chown vendor vendor /proc/hps/down_threshold
    chmod 0660 /proc/hps/down_threshold
    chown vendor vendor /proc/hps/up_threshold
    chmod 0660 /proc/hps/up_threshold

    # CPU freq
    chown vendor vendor /proc/cpufreq/cpufreq_limited_by_hevc
    chmod 0660 /proc/cpufreq/cpufreq_limited_by_hevc
    chown vendor vendor /proc/cpufreq/cpufreq_limited_max_freq_by_user
    chmod 0660 /proc/cpufreq/cpufreq_limited_max_freq_by_user

    # BW monitor
    chown vendor vendor /proc/fliper
    chmod 0664 /proc/fliper

    # Change permissions about terminal
    chown root radio /proc/net/vlan/config
    chmod 0640 /proc/net/vlan/config
    chown root radio /proc/net/ip6_tables_matches
    chown root radio /proc/net/ip6_tables_names
    chown root radio /proc/net/ip6_tables_targets
    chown root radio /proc/net/arp_tables_targets
    chown root radio /proc/net/arp_tables_matches
    chown root radio /proc/net/arp_tables_names
    chown root radio /proc/net/ip_tables_targets
    chown root radio /proc/net/ip_tables_matches
    chown root radio /proc/net/ip_tables_names
    chown root radio /proc/net/ip_conntrack_expect
    chown root radio /proc/net/ip_conntrack
    chown root radio /proc/net/nf_conntrack
    chown root radio /proc/net/nf_conntrack_expect
    chown root radio /proc/net/netfilter/nfnetlink_log
    chown root radio /proc/net/netfilter/nfnetlink_queue

    # WMT proc
    chown shell vendor /proc/driver/wmt_dbg
    chown shell vendor /proc/driver/wmt_aee

    # Connectivity usage
    chmod 0660 /dev/ttyMT2
    chown vendor vendor /dev/ttyMT2

on property:ro.board.platform=mt6753
    chown vendor vendor /sys/devices/vendor/cpu/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/vendor/cpu/cpufreq/interactive/hispeed_freq
    write /sys/devices/vendor/cpu/cpufreq/interactive/hispeed_freq 1300000

on property:sys.boot_completed=1
    # defer zram init after boot_complete
    swapon_all /fstab.swap
    # End boot fs tune
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/mmcblk0/queue/nr_requests 128
    write /sys/block/mmcblk0/queue/iostats 1

on property:vold.decrypt=trigger_reset_main
    start stop_modem

on property:vold.decrypt=trigger_restart_min_framework
    start start_modem
    start msensord

on property:vold.decrypt=trigger_restart_framework
    start nvram_daemon
    start start_modem
    start msensord

on property:vold.decrypt=trigger_shutdown_framework
    start stop_modem

service stop_modem /vendor/bin/md_ctrl 0
    class main
    disabled
    oneshot

service start_modem /vendor/bin/md_ctrl 1
    class main
    disabled
    oneshot

service nvram_daemon /vendor/bin/nvram_daemon
    class main
    user root
    group vendor
    oneshot

service pq /vendor/bin/pq
    class main
    user vendor
    group vendor graphics
    oneshot

# MTK Wi-Fi related services

# monitor property and power on/off wlan
on property:wlan.driver.status=ok
    write /dev/wmtWifi "1"

on property:wlan.driver.status=unloaded
    write /dev/wmtWifi "0"

service p2p_supplicant /vendor/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/vendor/etc/wifi/wpa_supplicant_overlay.conf -N \
    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf -e/data/misc/wifi/entropy.bin \
    -I/vendor/etc/wifi/p2p_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service wpa_supplicant /vendor/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -e/data/misc/wifi/entropy.bin \
    -I/vendor/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

# GPS
service agpsd /vendor/bin/mtk_agpsd
    class main
    socket agpsd stream 660 gps vendor
    socket agpsd2 stream 660 gps inet
    socket agpsd3 stream 660 gps inet
    user gps
    group gps radio inet sdcard_r sdcard_rw misc

service wifi2agps /vendor/bin/wifi2agps
    class main
    user wifi
    group gps inet

service mnld /vendor/bin/mnld
    class main
    user gps
    group gps inet misc sdcard_rw sdcard_r media_rw vendor
    socket mnld stream 660 gps vendor

# Sensors
service msensord /vendor/bin/msensord
    class main
    oneshot

service akmd09911 /vendor/bin/akmd09911
    disabled
    user vendor
    group vendor
    class main

# Emsvr
service emsvr /vendor/bin/em_svr
    disabled
    user vendor
    group vendor radio diag net_bt_stack

# Thermal
service thermal_manager /vendor/bin/thermal_manager
    class main
    user root
    group vendor
    oneshot

service wmtLoader /vendor/bin/wmt_loader
    user root
    group root
    class core
    oneshot

service conn_launcher /vendor/bin/6620_launcher -p /vendor/etc/firmware/
    user vendor
    group vendor
    class core

# Charger
service charger /sbin/healthd -c
    class charger
    critical
    seclabel u:r:healthd:s0

service fuelgauged /vendor/bin/fuelgauged
    class main
    user vendor
    group vendor
